_*
config/secrets.yml
_snippets/
coverage/*
config/secrets2.yml
*.db
.bundle/

node_modules/
package-lock.json
package.json
.prettierrc.ymlspec/fixtures/cassettes/nthusa_api.yml
spec/fixtures/cassettes/youtube_api.yml
