_snippets/
.bundle/
config/secrets.yml
coverage/*
_cache/

node_modules/
package-lock.json
package.json
.prettierrc.yml
spec/fixtures/cassettes/nthusa_api.yml
spec/fixtures/cassettes/youtube_api.yml

