---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<API_KEY>&maxResults=5&part=snippet&q=Ruby%20one%20hour%20lectures%20tutorials&type=video
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#searchListResponse\",\n  \"etag\": \"PW9NamjrO0L8IdhdNlEiWC7Sw5M\",\n
        \ \"nextPageToken\": \"CAUQAA\",\n  \"regionCode\": \"TW\",\n  \"pageInfo\":
        {\n    \"totalResults\": 1000000,\n    \"resultsPerPage\": 5\n  },\n  \"items\":
        [\n    {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"J0z6mg_PHQOP0ageA44_wB4vv2U\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"8wZ2ZD--VTk\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2017-12-05T20:13:32Z\",\n        \"channelId\": \"UCvmINlrza7JHB1zkIOuXEbw\",\n
        \       \"title\": \"Ruby Programming | In One Video\",\n        \"description\":
        \"Overview - 1:32 Setup - 3:16 Printing - 3:43 Variables & Data Types - 4:18
        Casting - 5:58 Strings - 7:13 Numbers - 8:56 User Input ...\",\n        \"thumbnails\":
        {\n          \"default\": {\n            \"url\": \"https://i.ytimg.com/vi/8wZ2ZD--VTk/default.jpg\",\n
        \           \"width\": 120,\n            \"height\": 90\n          },\n          \"medium\":
        {\n            \"url\": \"https://i.ytimg.com/vi/8wZ2ZD--VTk/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/8wZ2ZD--VTk/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          }\n        },\n
        \       \"channelTitle\": \"Giraffe Academy\",\n        \"liveBroadcastContent\":
        \"none\",\n        \"publishTime\": \"2017-12-05T20:13:32Z\"\n      }\n    },\n
        \   {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"I_XkVBXhjvq6BW3pZcLIpxC39Ww\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"fmyvWz5TUWg\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2020-11-09T14:50:57Z\",\n        \"channelId\": \"UC8butISFwT-Wl7EV0hUK0BQ\",\n
        \       \"title\": \"Learn Ruby on Rails - Full Course\",\n        \"description\"[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=8wZ2ZD--VTk&key=<API_KEY>&part=contentDetails
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "NjvJGoPekgDyiO-7SB9JgH3Ap9s",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "XLvPMbg7hHLNDhrFi6fJ5JoKZtE",
              "id": "8wZ2ZD--VTk",
              "contentDetails": {
                "duration": "PT36M36S",
                "dimension": "2d",
                "definition": "hd",
                "caption": "false",
                "licensedContent": true,
                "contentRating": {},
                "projection": "rectangular"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Mon, 09 Dec 2024 14:35:09 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=fmyvWz5TUWg&key=<API_KEY>&part=contentDetails
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "8tszX5eQjh98eD3gDEwqlviP-5I",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "JmFLFXKC73Pdlr4ks7qG2yZUARU",
              "id": "fmyvWz5TUWg",
              "contentDetails": {
                "duration": "PT4H3M49S",
                "dimension": "2d",
                "definition": "hd",
                "caption": "false",
                "licensedContent": true,
                "contentRating": {},
                "projection": "rectangular"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Mon, 09 Dec 2024 14:35:09 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=xyDoP5a_dvo&key=<API_KEY>&part=contentDetails
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "jgu1xGe23rQ1t5cKqoA-mc5qRAk",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "TBpsYjbW_jliX6NaroXfpxZCqRg",
              "id": "xyDoP5a_dvo",
              "contentDetails": {
                "duration": "PT49M35S",
                "dimension": "2d",
                "definition": "hd",
                "caption": "true",
                "licensedContent": true,
                "contentRating": {},
                "projection": "rectangular"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Mon, 09 Dec 2024 14:35:09 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=oG-H6Qo-EnI&key=<API_KEY>&part=contentDetails
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "e6xk1wrVndIFJsu71MVM4Lod-1U",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "MW-gxGXH012kIlrEVElivNCaVuU",
              "id": "oG-H6Qo-EnI",
              "contentDetails": {
                "duration": "PT26S",
                "dimension": "2d",
                "definition": "hd",
                "caption": "false",
                "licensedContent": false,
                "contentRating": {},
                "projection": "rectangular"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Mon, 09 Dec 2024 14:35:09 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=PHFsUugqm9w&key=<API_KEY>&part=contentDetails
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "ShLxaS7MmHCyYjP43r4PdfpSpn4",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "4QGdeZLBw4hmmup83sAQZVgCPOM",
              "id": "PHFsUugqm9w",
              "contentDetails": {
                "duration": "PT19S",
                "dimension": "2d",
                "definition": "hd",
                "caption": "false",
                "licensedContent": false,
                "contentRating": {},
                "projection": "rectangular"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Mon, 09 Dec 2024 14:35:09 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<API_KEY>&maxResults=5&part=snippet&q=Analytic%20one%20hour%20lectures%20tutorials&type=video
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag":[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=eR-XRSKsuR4&key=<API_KEY>&part=contentDetails
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "XpQwTqVDuoCIyGF4KVWkoUobfps",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "mmsf_6Na3IEYVOuHIQNARy4gJMs",
              "id": "eR-XRSKsuR4",
              "contentDetails": {
                "duration": "PT59M48S",
                "dimension": "2d",
                "definition": "hd",
                "caption": "false",
                "licensedContent": true,
                "contentRating": {},
                "projection": "rectangular"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Mon, 09 Dec 2024 14:35:34 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=f9DzS6NdgwU&key=<API_KEY>&part=contentDetails
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "Ofd2ZZ5A5IkTtHZGUkdajklDy8s",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "WiGc1oIBy9gFpCpyKY-b_PLdVbE",
              "id": "f9DzS6NdgwU",
              "contentDetails": {
                "duration": "PT1H19M39S",
                "dimension": "2d",
                "definition": "hd",
                "caption": "false",
                "licensedContent": false,
                "contentRating": {},
                "projection": "rectangular"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Mon, 09 Dec 2024 14:35:34 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=WsQQvHm4lSw&key=<API_KEY>&part=contentDetails
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "Kz8GZWBZ392qmPyTLq5wgOIyLAc",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "SZq9LTtqGeqyAkfI8TIZiflo2b0",
              "id": "WsQQvHm4lSw",
              "contentDetails": {
                "duration": "PT36M22S",
                "dimension": "2d",
                "definition": "hd",
                "caption": "false",
                "licensedContent": true,
                "contentRating": {},
                "projection": "rectangular"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Mon, 09 Dec 2024 14:35:34 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=_V8eKsto3Ug&key=<API_KEY>&part=contentDetails
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "rI4LYOEGMZOKJCahfxyfkeJWmEo",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "f-FEy5mR_jd0LT4KYv0voxIrOIA",
              "id": "_V8eKsto3Ug",
              "contentDetails": {
                "duration": "PT2H10M39S",
                "dimension": "2d",
                "definition": "hd",
                "caption": "true",
                "licensedContent": true,
                "contentRating": {},
                "projection": "rectangular"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Mon, 09 Dec 2024 14:35:34 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=Veb22xD0Ao0&key=<API_KEY>&part=contentDetails
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "FdcJPI5xKUnfduVrMLkV7T6d35w",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "6b_oE9DHCevLQnDpeL-dUmafm5k",
              "id": "Veb22xD0Ao0",
              "contentDetails": {
                "duration": "PT1H10M54S",
                "dimension": "2d",
                "definition": "hd",
                "caption": "false",
                "licensedContent": true,
                "contentRating": {},
                "projection": "rectangular"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Mon, 09 Dec 2024 14:35:35 GMT
- request:
    method: get
    uri: https://api.nthusa.tw/courses/searches?field=english_title&limits=5&value=Analytic
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Process-Time:
      - '0.0051059722900390625'
    body:
      encoding: UTF-8
      string: '[{"id":"11210AES 520100","chinese_title":"環境分析化學","english_title":"Environmental
        Analytical Chemistry","credit":"3","size_limit":"","freshman_reservation":"0","object":"
        ","ge_type":"","language":"中","note":"本課程為16週課程","suspend":"","class_room_and_time":"BMES醫環501\tR5R6R7\n","teacher":"黃郁棻\tHUANG,
        YU-FEN\n","prerequisite":"","limit_note":"","expertise":"環境科技學程(第二專長)","program":"","no_extra_selection":"","required_optional_note":"分環所112M  必修\t原科院學士班109B  選修\t"},{"id":"11210BME
        500700","chinese_title":"生醫材料特性分析","english_title":"Analytical and Sensing
        Technologies in Biomedical Sciences","credit":"3","size_limit":"","freshman_reservation":"0","object":"
        ","ge_type":"","language":"英","note":"本課程為16週課程","suspend":"","class_room_and_time":"NTHU
        Lab清實826\tT7T8T9\n","teacher":"萬德輝\tWAN, DE-HUI\n","prerequisite":"","limit_note":"限醫工所","expertise":"","program":"","no_extra_selection":"","required_optional_note":"醫工所112D  選修\t醫工所112M  選修\t"},{"id":"11210CHEM311000","chinese_title":"分析化學一","english_title":"Analytical
        Chemistry (I)","credit":"3","size_limit":"100","freshman_reservation":"0","object":"
        ","ge_type":"","language":"英","note":"本課程上150分鐘，其餘時間由教授彈性運用","suspend":"","class_room_and_time":"CHEM化   B07\tT3T4R3R4\n","teacher":"陳貴通\tTAN,
        KUI THONG\n","prerequisite":"<div>\n  擋修對象 : 全校 <br>\n  先修科目 : <BR><BR>曾修普通化學二<BR><br>上述條件一定要有，則不擋修。</div>","limit_note":"限理學院","expertise":"化學(第二專長)\t化學(第一專長)","program":"","no_extra_selection":"","required_optional_note":"化學系110B  必修\t理學院學士班110B  必修\t"},{"id":"11210CHEM313001","chinese_title":"分析化學實驗一","english_title":"Analytical
        Chemistry Laboratory (I)","credit":"2","size_limit":"33","freshman_reservation":"0","object":"
        ","ge_type":"","language":"中","note":"加簽事宜請洽化207廖英孝；召集人陳貴通教授","suspend":"","class_room_and_time":"CHEM化   229\tF1F2F3F4\n","teacher":"廖英孝\tLIAO,
        YING-HSIAO\n","prerequisite":"","limit_note":"化學系大學部3年級4年級,理學院學士班大學部3年級4年級優先，第3次選課起開放全校修習","expertise":"化學(第二專長)\t化學(第一專長)","program":"","no_extra_selection":"","required_optional_note":"化學系110B  必修\t"},{"id":"11210CHEM313002","chinese_title":"分析化學實驗一","english_title":"Analytical
        Chemistry Laboratory (I)","credit":"2","size_limit":"33","freshman_reservation":"0","object":"
        ","ge_type":"","language":"中","note":"加簽事宜請洽化207廖英孝；召集人陳貴通教授","suspend":"","class_room_and_time":"CHEM化   229\tW5W6W7W8\n","teacher":"廖英孝\tLIAO,
        YING-HSIAO\n","prerequisite":"","limit_note":"限化學系大學部3年級4年級,理學院學士班大學部3年級4年級","expertise":"化學(第二專長)\t化學(第一專長)","program":"","no_extra_selection":"","required_optional_note":"化學系110B  必修\t"}]'
  recorded_at: Mon, 09 Dec 2024 14:35:35 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=xiWUL3M9D8c&key=<API_KEY>&part=contentDetails
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "_PJJ6ulm8p9YOWR3gHIo-CsQo0w",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "kcbOp_jOJeNe2Xw2rCd60PZgpHY",
              "id": "xiWUL3M9D8c",
              "contentDetails": {
                "duration": "PT3H13M",
                "dimension": "2d",
                "definition": "hd",
                "caption": "true",
                "licensedContent": false,
                "contentRating": {},
                "projection": "rectangular"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Mon, 09 Dec 2024 14:35:37 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=xiWUL3M9D8c&key=<API_KEY>&part=contentDetails
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "_PJJ6ulm8p9YOWR3gHIo-CsQo0w",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "kcbOp_jOJeNe2Xw2rCd60PZgpHY",
              "id": "xiWUL3M9D8c",
              "contentDetails": {
                "duration": "PT3H13M",
                "dimension": "2d",
                "definition": "hd",
                "caption": "true",
                "licensedContent": false,
                "contentRating": {},
                "projection": "rectangular"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Mon, 09 Dec 2024 14:35:37 GMT
recorded_with: VCR 6.3.1
